@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";

.navbar-btn {
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  &.completed {
    text-decoration: line-through;
  }
}

.completed {
  label {
    text-decoration: line-through;
  }
}
