<li class="list-group-item <%= if (item.Completed) { return "completed" } %>" id="item-<%= item.ID %>">
  <%= form_for(item, {method: "PUT", action: itemPath({item_id: item.ID}), "data-remote": true, "data-type": "script", class: "item-form"}) { %>
    <%= f.CheckboxTag("Completed", {label: item.Title, unchecked: false}) %>
    <%= markdown(item.Body.String) %>
  <% } %>
  <a href="<%= itemPath({ item_id: item.ID }) %>" class="btn btn-info btn-xs">View</a>
  <a href="<%= editItemPath({ item_id: item.ID }) %>" class="btn btn-warning btn-xs">Edit</a>
  <a href="<%= itemPath({ item_id: item.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger btn-xs" data-remote="true" data-type="script">Destroy</a>
</li>
